[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "==2.3.2"
anyjson = "==0.3.3"
billiard = "==3.5.0.4"
bokeh = "==0.13.0"
celery = "==4.0.2"
certifi = "==2018.8.24"
chardet = "==3.0.4"
dj-database-url = "==0.5.0"
dj-static = "==0.0.6"
django-toolbelt = "==0.0.1"
"geoip2" = "==2.9.0"
gunicorn = "==19.9.0"
idna = "==2.7"
kombu = "==4.2.1"
maxminddb = "==1.4.1"
numpy = "==1.15.1"
"psycopg2" = "==2.7.5"
pyparsing = "==2.2.0"
python-dateutil = "==2.7.3"
pytz = "==2018.5"
requests = "==2.19.1"
six = "==1.11.0"
"static3" = "==0.7.0"
tornado = "==5.1"
"urllib3" = "==1.23"
vine = "==1.1.4"
Django = "==2.2.10"
"Jinja2" = "==2.10"
MarkupSafe = "==1.0"
PyYAML = "==3.13"

[dev-packages]

[requires]
python_version = "3.6"
